$bg-body-secondary-gray: #f1f3f7 !default;

@mixin quotes {
		&:before,  &:after {
			font-family: 'Line Awesome Free';
			font-weight: 900;
			font-style:normal;
		}
		
		&:before {
			content:"\f10d ";
		}
				
		&:after {
			content:" \f10e";
		}
}

blockquote {

	font-style: italic;
	padding-bottom: 3px;
	padding-right: 20px;
	padding-left: 20px;
	letter-spacing: .01rem;
	border-left: 4px solid $bg-body-secondary-gray;
	margin:0rem;
	//border-left: 4px solid var(--bs-light-gray);
	
	p {
		@include quotes();
	}
	
	i {
		font-size:2rem;
		color:var(--bs-gray);;
	}
}	

.post { 
	//margin-bottom:2rem;
	border:none;

	@import "post-style";

	.card-header {
		margin-bottom:0rem;
		background:transparent;
		border:none;
	}

	.card-footer {
		/* padding: 0.5rem 1rem; */
		padding:0;
		width: 35rem;
		margin: 0 auto;
		background:transparent;
		border:none;
	} 
	
	.post-meta {
		list-style:none;
		text-align:center;
		margin-bottom:2rem;

		li {
			margin-right: 1rem;
			display: inline-block;
			margin-top: 0.5rem;
			color:var(--bs-secondary-color);
			
			i {
				font-size:1.4rem;
			}
			
			a {
				text-decoration:none;
				color:var(--bs-secondary-color);
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}


.inner-page-hero
{
       position:relative;
       max-height: 150px;
       height: 150px;
       overflow: hidden;
	   //background:var(--bs-border-color);
	   background-color:var(--bs-light-bg-subtle);
	   border-bottom:1px solid rgba(var(--bs-body-color-rgb), 0.07);
	   //border-bottom:1px solid var(--bs-border-color);

       .title-container {
               position: absolute;
               width: 100%;
               height: 100%;
               display: flex;
               align-content: center;
               align-items: center;    
               z-index:1;
               /*
               ::before
               {
                       width: 100%;
                       height: 100%;
                       content: " ";
                       //background: rgba(var(--bs-body-bg-rgb),0.5);
                       top: 0px;
                       left: 0px;
                       position: absolute;
                       z-index: -1;
               }
               */
               h1
               {
                       width:100%;
                       z-index:1;
					   margin:0;
					   font-weight:normal;
               }
       }

       img
       {
               width: 100%;
               top: -30vw;
               position: absolute;
       }
}





.sidebar-sticky {

	.card {
		border:none;
	}
	
	.card-header {
		margin-bottom:0rem;
		background:transparent;
		border:none;
		font-size:1.2rem;
	}

}	



.sidebar-sticky {
	position: -webkit-sticky;
	position: sticky;
	top:2.5rem;
	
	h5, h6 {
		
	}
	
	.card {
		//padding:0.3rem 0;
		
		.card-header {
			//padding:0rem 1.1rem;
		}
		
		.card-body {
			//color:var(--bs-body-color);
			padding:0rem 1rem 1rem;
		}
	}
}


.categories-widget, .archives-widget {
	ul {
		list-style:none;
		column-count: 2;
		padding-left:0;
	}
}

.archives-widget {
	ul {
		column-count: 2;	
	}
}


ul.tags {
	list-style:none;
	margin:0;
	padding:0;
	
	li {
		display:inline-block;
	}
	
	a {
		border:1px solid rgba(var(--bs-body-color-rgb), 0.035);
		background-color:rgba(var(--bs-body-color-rgb), 0.025);
		padding:0.1rem 0.3rem;
		margin:0.1rem;
		display:inline-block;
		border-radius:2px;
		font-size:90%;
	}
}

.img-fluid {
    border-radius: 4px;
}

/* comments */
.post-comments, .product-reviews, .product-questions {
	position:relative;
	
	a {
		//color:#212529;
		text-decoration:none;
	}
}

.author-avatar {
	position:absolute;
	left:-90px;
    min-width: 80px;
    min-height: 80px;
    
	display: flex;
    justify-content: center;
    align-items: center;

	&:empty, .empty {
		width: 80px;
		height: 80px;
		//background: var(--bs-secondary-bg);
		background: rgba(var(--bs-secondary-bg-rgb), 0.5);
	}
}

.review-list, .question-list {
	margin-left:5.5rem;
}

.comment, .review, .question {
	position:relative;
	
	&.level-1 {
		margin-left:1rem;
	}

	&.level-2 {
		margin-left:2rem;
	}

	&.level-3 {
		margin-left:3rem;
	}
}

.review-list {
	.user-image {
		display:inline-block;
		max-width:80px;
		margin-right:0.3rem;
		margin-bottom:0.3rem;
	}
}

.site-header {
	display:flex;
	flex-direction: column;
	position:relative;
	
	.background {
		position:absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transform: none;

		img {
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: ""; 
			width: 100%;
			height: 100%;
			background-color: #000;
			background-color: var(--bs-body-bg);
			opacity: 0.7;
			z-index: 5;
		}
	}
	
	.title-container {
		position:relative;
		margin-top:auto;
		z-index:100;
	}
}
	
