//add visual helpers when generating section thumbnails

//used for base sections to add borders for columns
section { 
	.container, .container-fluid {
		.row {
			> [class*="col-"]:empty, 
			> .col:empty {
				border:1px solid var(--bs-secondary);
				background:var(--bs-tertiary-bg);
				min-height:200px;
				margin:1rem;
			}
		}
	}
}
