<article class="card @@class">
	<div class="card-img-top" data-v-if="post.image">
		<img src="demo/img/video-1.webp" alt="" class="w-100" loading="lazy" data-v-size="thumb" data-v-post-image>
	</div>
	<!-- Post Title -->
	<a data-v-post-url>
		<div class="card-body p-4">
				<div class="post-title card-title">
						<h3 class="h4 mb-3" data-v-post-name>
								Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada
						</h3>
				</div>
				<!-- Hover Content -->
				<p class="card-text text-muted" data-v-post-excerpt>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor. Phasellus purus dignissim convallis.</p>
				<button title="{$post.name}" role="button" class="btn btn-link px-0"><span>Read more</span> <i class="la la-angle-right"></i></button>
		</div>
	</a>
</article>
