<!-- Cart Area -->
<div class="dropdown nav-item mini-cart" data-v-component-cart>
	
	<a class="dropdown-toggle cart-info nav-link " href role="button" id="cart-dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-v-url="cart/cart/index">
		<!-- <img src="demo/img/bag.svg" width="20" alt> -->
		<i class="la la-lg la-shopping-bag"></i><span class="visually-hidden">Cart</span>
		<strong class="text-top text-bold" data-v-total_items data-v-if="cart.total_items > 0"></strong>
	</a>
					
					
	<div class="dropdown-menu dropdown-menu-end cart-box" aria-labelledby="cart-dropdown">					

		@@include('mini-cart.html')  

	</div>
		
</div>
