<!-- Cart Area -->
<div class="dropdown nav-item mini-cart" data-v-component-cart>
	
	<a class="dropdown-toggle cart-info nav-link" role="button" id="cart-dropdown" data-bs-toggle="offcanvas" href="#cart-offcanvas" role="button" aria-controls="cart-offcanvas">
		<!-- <img src="demo/img/bag.svg" width="20" alt> -->
		<!--
		<i class="la la-lg la-shopping-bag"></i><span class="visually-hidden">Cart</span>
		-->
		@@include('cart-icon.html', {"width": "20px"})
		<strong class="badge bg-primary" data-v-total_items data-v-if="cart.total_items > 0"></strong>
	</a>
					
	
</div>
