<div data-v-component-fields data-v-type="@@type" data-v-subtype="@@subtype">
	
	<div class="list-unstyled" data-v-fields>
		
		<div data-v-field>
			
			@@include('fields/google_map.html')
			
			<div data-v-type-default>
				<span class="fw-bold" data-v-field-name></span>
				
				<span data-v-if-not="is_array" data-v-field-value></span>
				
				<div data-v-subfields>
					
					<li data-v-subfields-field>
						<span class="fw-bold" data-v-subfields-field-name></span>
						<span data-v-subfields-field-value></span>
					</li>
				</div><!-- /subfields -->
			</div><!-- /default -->
			
		</div><!-- /field -->
		
	</div><!-- /fields -->
	
</div><!-- /component -->
  
