footer.footer-1 {
	position:relative;
	padding-top: 3rem;
	//padding-bottom: 2rem;
	padding-bottom: 0rem;
	//background-color:var(--bs-light-bg-subtle);
	background-color:rgba(var(--bs-body-color-rgb), 0.03);
	border-top:1px solid rgba(var(--bs-body-color-rgb), 0.03);
	
	//background-color:rgba(var(--light-bg-rgb), 0.7);
	background-color:rgba(var(--bs-body-color-rgb), 0.01);
	//border-top:1px solid rgba(var(--light-bg-rgb), 0.5);
	border-top:1px solid rgba(var(--bs-body-color-rgb), 0.05);
	z-index: 3;
	margin-top: 5rem;
	/*
	&:before{
		content: '';
		display: block;
		position: absolute;
		background-image: linear-gradient(180deg, rgba(var(--bs-body-color-rgb), 0.05) 0%, rgba(var(--bs-body-color-rgb), 0.025) 20%, rgba(var(--bs-body-bg-rgb), 0) 80%);
		//border-top:1px solid var(--bs-border-color);
		width: 100%;
		height: 7px;
		left: 0;
		top: 0;	
	}
	*/
	
	h6 {
		margin: 1rem 0rem;
		font-weight: 500;
		color: var(--bs-light-text-emphasis);
	}
	nav {
		a {
			display: block;
			font-size: 90%;
			//font-weight: 500;
			text-decoration: none;
			margin-bottom: 0.35rem;
			color:var(--bs-secondary-color);
		}
	}
	img {
		margin: 2rem auto;
		//display: block;
		
		html[data-bs-theme="dark"] &{
			//filter: brightness(5);
		}
	}
	
	.footer-copyright {
		margin-top:5rem;
		
		//background:#fafafa;
		//background:rgba(var(--bs-body-color-rgb), 0.01);
		//background-color:rgba(var(--light-bg-rgb), 1);
		padding:0.5rem;
		
		
		font-size:75%;
		a {
			text-decoration:none;
			
			&:hover {
				text-decoration:underline;
			}
		}

		.container {
			padding:1.5rem 0;
			border-top: 1px solid rgba(var(--bs-body-color-rgb), 0.05);
			//border-top:1px solid rgba(var(--bs-body-color-rgb), 0.07);
			//border-top:1px solid var(--bs-border-color);
		}
	}
}
