.showcase-3 {

	.feature {
		display: flex;
		flex-direction: column;
		height:100%;
		-webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,.2);
		box-shadow: 0 15px 30px 0 rgba(0,0,0,.2);
		padding:2rem 1rem;
		border-radius:7px;
		margin:0.5rem;
		margin-bottom:1rem;
		background-color:var(--bs-body-bg);
		//border: 1px solid var(--bs-light-border-subtle);
		
		.text {
			padding:1rem 1rem 1rem 0;
		}
	}

	.font-container {
		margin-bottom:1.5rem;

		.font-icon {
			background-color:var(--bs-primary);
			color:var(--bs-light);
			
			font-size:4rem;
			padding:1.4rem;
			border-radius:70px;
			
		}
	}
	//border-top: 1px solid var(--bs-border-color);
	padding: 2rem 0;
	
	&:nth-child(even) {
		//background: rgba(var(--bs-body-color-rgb),0.025);
	}
	.col-md-6 {
		//padding: 4rem;
	}
	.col-img {
		text-align: center;
	}
	img {
		max-height: 300px;
	}

	h3 {
		margin-bottom: 0rem;
		color: var(--bs-dark);
		text-align:center;
		line-height:1.8rem;
		padding:0 0.5rem;
		
		a {
			font-size:1.2rem;
			color:var(--bs-body-color);
			text-decoration:none;
		}
	}
	
	a {
		text-decoration:none;
	}
	
	p {
		font-size: 1rem;
		color: #888;
		line-height: 1.9rem;
		padding:0.5rem 1rem 0;
		margin:0;
	}	
}
