.showcase-5 {
	

	.feature {
		-webkit-box-shadow: 0 15px 30px 0 rgba(var(--bs-body-color-rgb),.1);
		box-shadow: 0 15px 30px 0 rgba(var(--bs-body-color-rgb),.1);
		padding:1rem 0 0;
		border-radius:7px;
	}

	.font-container {
		margin-bottom:0rem;

		.font-icon {
			color:var(--bs-primary);
			
			font-size:4rem;
			padding:1.4rem;
			border-radius:60px;
			
		}
	}

	padding: 2rem 0;
	
	.col-md-6 {
		//padding: 4rem;
	}
	.col-img {
		text-align: center;
	}
	img {
		max-height: 300px;
	}

	h3 {
		margin-bottom: 0rem;
		color:var(--bs-dark);
		text-align:center;
		line-height:1.8rem;
		
		a {
			font-size:1.4rem;
			color:var(--bs-dark);
			text-decoration:none;
		}
	}
	
	a {
		text-decoration:none;
		color:var(--bs-gray);
		
		&.more {
			margin-right:2rem;
			text-align:right;
			font-size:0.9rem;
			
			&:hover{
				color:var(--bs-primary);
			}
		}
	}
	
	p {
		font-size: 0.9rem;
		color:var(--bs-gray);
		line-height: 1.4rem;
		padding:2rem;
		text-align:center;
	}	
}
