.showcase-1, .showcase-2 {
	//border-top: 1px solid var(--bs-border-color);
	padding: 3rem 0;
	
	.container {
		//max-width:960px;
		margin: 0 auto;
		padding: 0;		

		> .row {
			--bs-gutter-x: 5rem;
		}
	}
	
	&:nth-child(even) {
		//background: rgba(var(--bs-body-color-rgb),0.015);
	}
	
	.col-md-6 {
		padding: 0rem 1.4rem;
		//text-align:center;
		
		> div {
			margin:auto;
			display:inline-block;
			text-align:left;
		}
	}
	.col-text > div {
		//padding: 3.5rem;
		i.la, i.lab {
			padding:0.5rem 1rem 0 0;
			font-size: 2rem;
			color:var(--bs-primary);
		}
	}
	
	.col-img {
		text-align: center;
		
		.frame {
			width:100%;
		}
		
		video {
			width:100%;
		}
		
	}
	img {
		margin: 0 auto;
		display: block;		
	}

	h3 {
		margin-bottom: 2.1rem;
		font-size: 2rem;
		font-weight:600;
		letter-spacing: -1px;
	}
	
	a {
		text-decoration:none;
	}
	
	p {
		font-size: 1.1rem;
		line-height: 2.1rem;
		font-weight: 400;
		margin-bottom:1.4rem;
	}	
}
