.showcase-6 {
	padding: 2rem 0;

	.feature {
		-webkit-box-shadow: 0 15px 30px 0 rgba(var(--bs-body-color-rgb),.1);
		box-shadow: 0 15px 30px 0 rgba(var(--bs-body-color-rgb),.1);
		padding:1rem 0;
		border-radius:7px;
		display:flex;
		
		.text {
			padding:1rem 1rem 1rem 0;
		}
	}

	.font-container {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 80px;
		flex: 0 0 80px;

		.font-icon {
			color:var(--bs-primary);
			
			font-size:5rem;
			padding:1.4rem;
			border-radius:60px;
			
		}
	}
	
	.col-md-6 {
		//padding: 4rem;
	}

	h3 {
		margin-bottom: 1rem;
		color:var(--bs-dark);
		line-height:1.8rem;
		
		a {
			font-size:1.4rem;
			color:var(--bs-dark);
			text-decoration:none;
		}
	}
	
	a {
		text-decoration:none;
		color:var(--bs-gray);
		
		&.more {
			font-size:0.9rem;
			i {
				color:var(--bs-primary);
			}
			
			&:hover{
				color:var(--bs-primary);
			}
		}
	}
	
	p {
		font-size: 0.9rem;
		color:var(--bs-gray);
		line-height: 1.7rem;
		margin-bottom:1rem;
	}	
}
