.showcase-12 {

	.font-container {
		margin-bottom:0;

		.font-icon {
			color:var(--bs-primary);
			font-size:4rem;
		}
	}
	//border-top: 1px solid var(--bs-border-color);
	padding: 2rem 0;
	
	&:nth-child(even) {
		background: rgba(var(--bs-body-color-rgb),0.025);
	}
	.col-md-6 {
		//padding: 4rem;
	}
	.col-img {
		text-align: center;
	}
	img {
		max-height: 300px;
	}

	h3 {
		margin-bottom: 0rem;
		color: var(--bs-blue);
		text-align:center;
		line-height:2.1rem;
		
		a {
			font-size:1.4rem;
			color:var(--bs-dark);
			text-decoration:none;
		}
	}
	
	a {
		text-decoration:none;
	}
	
	p {
		font-size: 1rem;
		color: #999;
		line-height: 2.1rem;
		padding:1rem 2rem 0;
	}	
}
