.showcase-4 {
	.feature {
		background-color:var(--bs-light);
		padding:2rem 0;
		border-radius:7px;
		margin:0.2rem;
	}

	.font-container {
		margin-bottom:2.1rem;

		.font-icon {
			background-color:var(--bs-white);
			color:var(--bs-primary);
			
			font-size:4rem;
			padding:1rem;
			border-radius:60px;
			
		}
	}
	//border-top: 1px solid var(--bs-border-color);
	padding: 2rem 0;
	
	&:nth-child(even) {
		background: rgba(var(--bs-body-color-rgb),0.025);
	}
	.col-md-6 {
		//padding: 4rem;
	}
	.col-img {
		text-align: center;
	}
	img {
		max-height: 300px;
	}

	h3 {
		margin-bottom: 0rem;
		color:var(--bs-dark);
		text-align:center;
		line-height:1.8rem;
		
		a {
			font-size:1.4rem;
			font-weight: 600;
			color:var(--bs-dark);
			text-decoration:none;
		}
	}
	
	a {
		text-decoration:none;
		color:var(--bs-dark);
		
		&.more {
			font-size:0.8rem;
			text-align:center;
			
			&:hover{
				color:var(--bs-primary);
			}			
		}
	}
	
	p {
		font-size: 1rem;
		color:var(--bs-gray);
		line-height: 1.8rem;
		text-align:center;
		padding:1.5rem;
	}	
}
