.features-3 {
	color: #8d97ad;
	font-weight: 300;
	h6 {
		line-height: 22px;
		font-size: 18px;
	}
	.font-weight-medium {
		font-weight: 500;
	}
	a {
		text-decoration: none;
	}
	.linking {
		color: #3e4555;
		&:hover {
			color: #316ce8;
		}
	}
	.bg-body-secondary {
		background-color: #f4f8fa !important;
	}
	.text-success {
		color: #2cdd9b !important;
	}
	.icon-round {
		width: 80px;
		line-height: 80px;
		font-size: 2rem;
	}
	.btn-success-gradient {
		background: #2cdd9b;
		background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
		background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
		background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
		background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
		background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
		&:hover {
			background: #1dc8cc;
			background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
			background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
			background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
			background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
			background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
		}
	}
	.btn-md {
		padding: 15px 45px;
		font-size: 16px;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #3e4555;
	}
}
