.pricing-table-2 { 
	.card {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid #e5e9f2;
		border-radius: .2rem;
		margin-bottom: 1.5rem;
		box-shadow: 0 0.25rem 0.5rem rgba(var(--bs-body-color-rgb),.025);
	}
}