@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Karla&display=swap');

:root{
    --bs-primary:#F9D548;
    --bs-primary-rgb:rgb(249 213 72);
    --bs-secondary:#ECB92E;
    --bs-secondary-rgb:rgb(236 185 46);
    --bs-font-sans-serif:"Karla";
}

[data-bs-theme=dark] {
    --bs-primary:#F9D548;
    --bs-primary-rgb:rgb(249 213 72);
    --bs-secondary:#ECB92E;
    --bs-secondary-rgb:rgb(236 185 46);
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Marcellus";
}


.btn-primary {
    --bs-btn-color: #333;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 0.8);
    --bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 0.8);
    //--bs-btn-focus-shadow-rgb: 38, 133, 242;
    --bs-btn-active-color: #333;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: #0054b4;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    color:#333;
}
