.testimonials-5 {
	.carousel {
		width: 650px;
		margin: 0 auto;
		padding-bottom: 50px
	}

	.carousel .item {
		color: #999;
		font-size: 14px;
		text-align: center;
		overflow: hidden;
		min-height: 340px
	}

	.carousel .item a {
		color: #eb7245
	}

	.carousel .img-box {
		width: 145px;
		height: 145px;
		margin: 0 auto;
		border-radius: 50%
	}

	.carousel .img-box img {
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 50%
	}

	.carousel .testimonial {
		padding: 30px 0 10px
	}

	.testimonial {
		color: #000000;
		font: Times Roman
	}

	.carousel .overview {
		text-align: center;
		padding-bottom: 5px
	}

	.carousel .overview b {
		color: var(--bs-body-color);
		font-size: 15px;
		text-transform: uppercase;
		display: block;
		padding-bottom: 5px
	}

	.carousel .star-rating i {
		font-size: 18px;
		color: #ffdc12
	}

	.carousel .carousel-control {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #999;
		text-shadow: none;
		top: 4px
	}

	.carousel-control i {
		font-size: 20px;
		margin-right: 2px
	}

	.carousel-control.left {
		left: auto;
		right: 40px
	}

	.carousel-control.right i {
		margin-right: -2px
	}

	.carousel .carousel-indicators {
		bottom: 15px
	}

	.carousel-indicators li,
	.carousel-indicators li.active {
		width: 11px;
		height: 11px;
		margin: 1px 5px;
		border-radius: 50%
	}

	.carousel-indicators li {
		background: #e2e2e2;
		border-color: transparent
	}

	.carousel-indicators li.active {
		border: none;
		background: #888
	}
}