.testimonials-3 {
    color: #8d97ad;
    font-weight: 300;
  }

  .testimonials-3 h1,
  .testimonials-3 h2,
  .testimonials-3 h3,
  .testimonials-3 h4,
  .testimonials-3 h5,
  .testimonials-3 h6 {
    color: #3e4555;
  }

  .testimonials-3 .font-weight-medium {
    font-weight: 500;
  }

  .testimonials-3 .bg-body-secondary {
    background-color: #f4f8fa !important;
  }

  .testimonials-3 .subtitle {
    color: #8d97ad;
    line-height: 24px;
  }

  .testimonials-3 .testimonial .card-body {
    padding: 40px;
  }

  .testimonials-3 .testimonial h6 {
    line-height: 26px;
  }

  .testimonials-3 .testimonial .thumb-img img {
    width: 60px;
  }

  .testimonials-3 .testimonial .user {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }

  .testimonials-3 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }

  .testimonials-3 .font-10 {
    font-size: 10px;
  }

  .testimonials-3 .text-success {
    color: #2cdd9b !important;
  }

  .testimonials-3 .text-muted {
    color: #8d97ad !important;
  }

  .testimonials-3 .owl-theme .owl-dots .owl-dot.active span,
  .testimonials-3 .owl-theme .owl-dots .owl-dot:hover span {
    background: #316ce8;
  }
