.hero-7 {
	height:100vh;
	min-height:800px;
	
	> .container > .row {
		height:100vh;
		min-height:800px;
	}
	
	>.container, > .container-fluid {
	position: relative;
	z-index: 2;
	
	> div {
		position: relative;
		height: 100%;
		min-height:960px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
	
	.overlay {
		background: rgba(var(--bs-body-color-rgb), 1);
		opacity:0.5;
	}

	h1, h2 {
		color: var(--bs-light);
    }
}
