.hero-5 {
	height:100vh;
	min-height:800px;
	
	> .container > .row {
		height:100vh;
		min-height:800px;
	}
	
	.overlay {
		background: rgba(var(--bs-body-color-rgb), 1);
		opacity:0.5;
	}
	
	h1, p.lead {
	    color: var(--bs-light);
	}
}
