@@include('./_includes/html-head.html', {"title": "Landing - Internal server error", "path":""})

<body class="error-500">
	
	@@include('./_includes/header.html')
	
	<section class="inner-page-hero">
		 <div>
			<div class="title-container">
				<div class="container">
					<h1>Site error</h1>
				</div>
			</div>
		   
			
		</div>
	</section>
	

        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
					<div class="text-center">
						<h1>Internal server error!</h1>
						
						<p>
							The site is experiencing some dificulties, please try again, if the problem persists please contact support.
						</p>	
						
						<a href="/" class="btn btn-primary my-4"><span>Go to homepage</span><i class="la la-arrow-right ms-2"></i></a>
					</div>
					
					<div data-debug>
						<h6>Error</h6>		
						<div class="card mb-3">
							<div class="card-body">
								<p data-v-exception-message style="white-space: pre-wrap;">Message</p>
							</div>		
						</div>		

						
						<div class="card mb-3" data-v-if="this.file">
							<h6 class="card-header">File</h6>
							<div class="card-body">
								<span data-v-exception-file>File</span> on line <strong data-v-exception-line_no>1</strong>
							</div>
						</div>
							
						<div class="card mb-3" data-v-if="this.line">
							<h6 class="card-header">Code</h6>
							<div class="card-body" data-v-exception-lines>
								<p data-v-exception-line style="white-space: pre-wrap;">line</p>
							</div>
						</div>

						<!-- div class="card">
							<div class="card-body">
								<p data-v-exception-code style="white-space: pre-wrap;"></p>
							</div>						
						</div -->						

						<div class="card mb-3" data-v-if="this.trace">
							<h6 class="card-header">Trace</h6>
							<div class="card-body">
								<p class="card-body" data-v-exception-trace style="white-space: pre-wrap;">Trace</p>
							</div>
						</div>


						<div class="alert alert-warning d-flex align-items-center alert-dismissible mt-4" role="alert">
						  <i class="la la-exclamation-triangle la-lg me-2"></i>
						  <div>
							If this is not a development website disable debug from <strong>env.php</strong> in the site root folder.
						  </div>
						  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>

					</div>
            
            
                 </div>
            </div>
        </div>
        
        


    @@include('./_includes/footer.html')   
	 
	@@include('./_includes/footer-scripts.html')    
  	
  	
</body>
</html>
