@@include('./_includes/html-head.html', {"title": "Blog Home - Vvveb Default Blog Template", "path": ""})

<body class="home">

@@include('./_includes/header.html')

<main id="site-content" role="main">

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-12" data-v-component-posts="popular" data-v-limit="3">


		@@for (var i = 1; i <= 5; i++) {
			@@include('./_includes/blog-post.html', {"class": " post-archive-item post"})
		}

		<div data-v-if="posts.count < 1">
			<h3 class="text-center py-4 bg-body-tertiary">No posts to display!</h3>
		</div>


		@@include('./_includes/pagination.html', {"component": "posts", "component-index":0})

	  </div>


    </div>
    <!-- /.row -->

  </div>
</main>	

@@include('./_includes/footer.html')

@@include('./_includes/footer-scripts.html')

</body>

</html>
