<nav class="navigation-3 clearfix fixed-top transparent" title="navigation-3">

	<div id="top" class="top-nav clearfix" data-bs-theme="dark">
		<div class="container">
			<div class="nav float-start">
				<ul class="list-inline" data-v-component-site>
					<li class="list-inline-item" data-v-if="site.phone-number"><a href="tel:5511112377" data-v-site-phone-number><i class="la la-phone"></i><span class="d-none d-md-inline text-muted" data-v-site-phone-number>+55 (111) 123 777</span></a> </li>
					<li class="list-inline-item"  data-v-if="site.contact-email"><a href="mailto:contact@mysite.com" data-v-site-contact-email><i class="la la-envelope"></i> <span class="d-none d-md-inline text-muted" data-v-site-contact-email>contact@mysite.com</span></a></li>
					<li class="list-inline-item"></li>
				</ul>
			</div>
			<div class="nav float-end">
				<ul class="list-inline">
					<!--
					<li class="list-inline-item"><a href="#" id="wishlist-total" title="Wish List (0)"><i class="la la-heart"></i> <span class="d-none d-md-inline">Favorites</span></a></li>
					<li class="list-inline-item"><a href="#" title="Checkout"><i class="la la-share"></i> <span class="d-none d-md-inline">Checkout</span></a></li>
					<li class="list-inline-item">
						<div class="dropdown">
							<a href="" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="la la-user"></i> <span class="d-none d-md-inline">My Account</span></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#" class="dropdown-item">Register</a></li>
								<li><a href="#" class="dropdown-item">Login</a></li>
							</ul>
						</div>
					</li>
					-->
					<li class="list-inline-item">
					
						<a id="color-theme-switch" href="javascript:void(0);" title="Switch sidebar color theme">
							<i class="la la-sun la-lg"></i>
						</a>

					</li>
					<li class="list-inline-item">
							<div data-v-component-currency>
								<form method="post" enctype="multipart/form-data" id="form-currency">

									<a  class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<!-- <i class="la la-dollar-sign me-1"></i> -->
										<span class="d-none d-md-inline" data-v-currency-info-name>USD</span>
									</a>
								
									
									<div class="dropdown-menu dropdown-menu-end">
										
										<div data-v-currency>
										  <button class="dropdown-item" type="submit" value="EUR" name="currency" data-v-currency-code>
											<span data-v-currency-sign_start>€</span>
											<span data-v-currency-sign_end>€</span>
											<span class="ms-1" data-v-currency-name>Euro</span>
										  </button>
										</div>

										<div data-v-currency>
										  <button class="dropdown-item" type="submit" value="GBP" name="currency" data-v-currency-code>
											<span data-v-currency-sign_start>£</span>
											<span data-v-currency-sign_end>£</span>
											<span class="ms-1" data-v-currency-name>Pound Sterling</span>
										  </button>
										</div>

										<div data-v-currency>
										  <button class="dropdown-item" type="submit" value="USD" name="currency" data-v-currency-code>
											<span data-v-currency-sign_start>$</span>
											<span data-v-currency-sign_end>$</span>
											<span class="ms-1" data-v-currency-name>US Dollar</span>
										  </button>
										</div>
										
									</div>
								</form>
							</div>		                    
					</li>		
					<li class="list-inline-item">
					<div data-v-component-language>
							<form method="post" enctype="multipart/form-data" id="form-language">

								<a  class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<!-- <i class="la la-flag me-1"></i> -->
									<!-- 
									<img src="" data-v-language-info-img>
									-->
									<span class="d-none d-md-inline" data-v-language-info-name>English</span>
								</a>
							
								
								<div class="dropdown-menu dropdown-menu-end">
									
									<div data-v-language>
										<button class="dropdown-item" type="submit" value="eng" name="language" data-v-language-code>
											<!-- <i class="la la-flag la-lg me-2"></i> -->
											<img src="" loading="lazy" class="me-1" data-v-language-img>
												
												<!-- <a href="" data-v-language-url> -->
													<span data-v-language-name>English</span>
												<!-- </a> -->
										</button>
									</div>
									
									<div data-v-language>
										<button class="dropdown-item" type="submit" value="ro" name="language" data-v-language-code>
											<!-- <i class="la la-flag la-lg me-2"></i> -->
											<img src="" loading="lazy" class="me-1" data-v-language-img>
												<!-- <a href="" data-v-language-url>  -->
													<span data-v-language-name>Romanian</span>
												<!-- </a>  -->
										</button>
									</div>
									
								</div>
							</form>
						</div>					
					</li>		
				</ul>
			</div>
		</div>
	</div>

 		<div class="navbar navbar-expand-md navbar-dark">
			
			<div class="container">

				<div data-v-component-site>	
					<a class="navbar-brand" href="/" data-v-url-params='{"host":"www.*.*"}'>
					   <img src="img/logo.png" loading="lazy" class="logo-default" data-v-site-logo>
					   <img src="img/logo.png" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
					   <img src="img/logo-white.png" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
					   <img src="img/logo-white.png" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
					</a>
				</div>
				

			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
				<ul class="navbar-nav ms-auto" data-v-menu-items>
				  <li class="nav-item dropdown" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0">
					
					<a class="nav-link" href="#" data-v-class-if-dropdown-toggle="category.children > 0" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url>
						<span data-v-menu-item-name>Resources</span>
					</a>
					
					<div class="dropdown-menu" data-v-menu-item-recursive>
					  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
						<a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url><span data-v-menu-item-name>User Documentation</span></a>
					  </div> 
					  <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
						<a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url><span data-v-menu-item-name>Developer Documentation</span></a>
					  </div> 
					</div>
				  </li>
				  <li class="nav-item" data-v-menu-item>
					<a class="nav-link" href="https://blog.vvveb.com"  data-v-menu-item-url><span data-v-menu-item-name>Blog</span></a>
				  </li>
				  <li class="nav-item" data-v-menu-item>
					<a class="nav-link" href="https://www.vvveb.com/page/contact"  data-v-menu-item-url><span data-v-menu-item-name>Contact</span></a>
				  </li>
				  <li class="nav-item" data-v-menu-item>
					<a class="nav-link" href="https://www.vvveb.com"  data-v-menu-item-url><span data-v-menu-item-name>About us</span></a>
				  </li>
				  <li class="nav-toggle">
					@@include('../../_includes/user-dropdown.html')
				  </li>
				  <li class="nav-toggle">
					@@include('../../_includes/cart-dropdown.html')
				  </li>
				</ul>
				
				<div class="search-area toggle-hover">
					<form action="/search" method="get" data-v-action="/search">
						<input type="hidden" name="route" value="search">
						<div class="input-group">
							<input type="search" name="search" class="form-control" id="headerSearch" placeholder="Type for search" data-v-vvveb-action="search" data-v-vvveb-on="keyup">
							<button class="btn border-0" type="submit">
								<div class="la-flip-horizontal">
									<i class="la la-search la-lg" aria-hidden="true"></i>
								</div>
							</button>
						</div>			  
					</form>
				</div>

			  </div>
			  
			  <!--
			  <div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav ms-auto">
				  <li class="nav-item">
					<a class="nav-link" href="#features">Features <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="https://themes.vvveb.com">Themes</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="https://plugins.vvveb.com">Plugins</a>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
					  <a class="dropdown-item" target="_blank"  href="https://github.com/givanz/VvvebJs/wiki">User Documentation</a>
					  <a class="dropdown-item" target="_blank"  href="https://github.com/givanz/VvvebJs/wiki">Developer Documentation</a>
					</div>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" target="_blank" href="https://github.com/givanz/VvvebJs">Github</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="contact.html">Contact</a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="https://vvveb.com/download.php">Download for free</a>
				  </li>			  
				</ul>
			  </div>
			  -->
		</div>

	</div>

</nav>
