<nav class="navigation-1 clearfix" data-v-save-global="blank.html,.navigation-1">

	<div id="top" class="top-nav clearfix">
		<div class="container">
		<div class="d-flex justify-content-between  flex-md-row d-flex flex-column flex-md-row">
			<div class="nav">
				<ul class="list-inline" data-v-component-site>
					<li class="list-inline-item" data-v-if="site.description.phone-number">
						<a href="tel:5511112377" class="p-2 p-md-0" title="Phone" data-v-site-description-phone-number>
							<i class="la la-phone"></i>
							<span class=" text-muted" data-v-site-description-phone-number>+55 (111) 123 777</span>
						</a> 
					</li>
					<li class="list-inline-item"  data-v-if="site.contact-email">
						<a href="mailto:contact@mysite.com" class="p-2 p-md-0" title="Email" data-v-site-contact-email>
						<i class="la la-envelope"></i> 
						<span class=" text-muted" data-v-site-contact-email>contact@mysite.com</span></a>
					</li>
				</ul>
			</div>
			<div class="nav">
				<ul class="list-inline">
					<!--
					<li class="list-inline-item"><a id="wishlist-total" title="Wish List (0)"><i class="la la-heart"></i> <span class="">Favorites</span></a></li>
					<li class="list-inline-item"><a title="Checkout"><i class="la la-share"></i> <span class="">Checkout</span></a></li>
					<li class="list-inline-item">
						<div class="dropdown">
							<a href="" class="dropdown-toggle" data-bs-toggle="dropdown" role="button"><i class="la la-user"></i> <span class="">My Account</span></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a class="dropdown-item">Register</a></li>
								<li><a class="dropdown-item">Login</a></li>
							</ul>
						</div>
					</li>
					-->
					<li class="list-inline-item">
							<div data-v-component-currency>
								<form method="post" enctype="multipart/form-data" id="form-currency">

									<a class="dropdown-toggle p-2 p-md-0" data-bs-toggle="dropdown" role="button" title="Currency "aria-expanded="false">
										<!-- <i class="la la-dollar-sign me-1"></i> -->
										<span class="" data-v-currency-info-name>USD</span>
									</a>
								
									
									<div class="dropdown-menu dropdown-menu-end">
										
										<div data-v-currency>
										  <button class="dropdown-item" type="submit" value="EUR" name="currency" data-v-currency-code>
											<span data-v-currency-sign_start>€</span>
											<span data-v-currency-sign_end>€</span>
											<span class="ms-1" data-v-currency-name>Euro</span>
										  </button>
										</div>

										<div data-v-currency>
										  <button class="dropdown-item" type="submit" value="GBP" name="currency" data-v-currency-code>
											<span data-v-currency-sign_start>£</span>
											<span data-v-currency-sign_end>£</span>
											<span class="ms-1" data-v-currency-name>Pound Sterling</span>
										  </button>
										</div>

										<div data-v-currency>
										  <button class="dropdown-item" type="submit" value="USD" name="currency" data-v-currency-code>
											<span data-v-currency-sign_start>$</span>
											<span data-v-currency-sign_end>$</span>
											<span class="ms-1" data-v-currency-name>US Dollar</span>
										  </button>
										</div>
										
									</div>
								</form>
							</div>		                    
					</li>		
					<li class="list-inline-item">
					<div data-v-component-language>
							<form method="post" enctype="multipart/form-data" id="form-language">

								<a class="dropdown-toggle p-2 p-md-0" data-bs-toggle="dropdown" role="button"  title="Language"  aria-expanded="false">
									<!-- <i class="la la-flag me-1"></i> -->
									<!-- 
									<img src="" data-v-language-info-img>
									-->
									<span class="" data-v-language-info-name>English</span>
								</a>
							
								
								<div class="dropdown-menu dropdown-menu-end">
									
									<div data-v-language>
										<button class="dropdown-item" type="submit" value="eng" name="language" data-v-language-code>
											<!-- <i class="la la-flag la-lg me-2"></i> -->
											<img src="" loading="lazy" class="me-1" data-v-language-img>
												
												<!-- <a href="" data-v-language-url> -->
													<span data-v-language-name>English</span>
												<!-- </a> -->
										</button>
									</div>
									
									<div data-v-language>
										<button class="dropdown-item" type="submit" value="ro" name="language" data-v-language-code>
											<!-- <i class="la la-flag la-lg me-2"></i> -->
											<img src="" loading="lazy" class="me-1" data-v-language-img>
												<!-- <a href="" data-v-language-url>  -->
													<span data-v-language-name>Romanian</span>
												<!-- </a>  -->
										</button>
									</div>
									
								</div>
							</form>
						</div>					
					</li>		
					<li class="list-inline-item">
					
						<a id="color-theme-switch" class="p-2 p-md-0" role="button" title="Switch sidebar color theme">
							<i class="la la-sun la-lg"></i>
						</a>

					</li>
				</ul>
			</div>
		</div>
		</div>
	</div>

	<div class="navbar navbar-expand-md">

		<div class="container">
				<div data-v-component-site>	
					<!-- <a class="navbar-brand" href="/" data-url data-v-url-params='{"host":"www.*.*"}'><span class="visually-hidden">Logo</span> -->
					<a class="navbar-brand" href="/" data-v-site-url'><span class="visually-hidden">Logo</span>
					   <img src="demo/img/logo.png" alt="Site logo" loading="lazy" class="logo-default" data-v-site-logo>
					   <img src="demo/img/logo.png" alt="Site logo sticky" loading="lazy" class="logo-sticky" data-v-site-logo-sticky>
					   <img src="demo/img/logo-white.png" alt="Site logo dark" loading="lazy" class="logo-default-dark" data-v-site-logo-dark>
					   <img src="demo/img/logo-white.png" alt="Site logo dark sticky" loading="lazy" class="logo-default-dark-sticky" data-v-site-logo-dark-sticky>
					</a>
				</div>
				
			   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				 <span class="navbar-toggler-icon"></span>
			  </button>

			  @@include('../../_includes/top-menu.html')

		</div>
	</div>
</nav>
