<!-- Categories Widget -->
<div class="card border border-opacity-10" data-v-component-product-categories="sidebar" data-v-type="categories"  data-v-limit="1000" data-v-post_type="product">
	<div class="card-body menutree">
	  <h6 class="card-title text-muted">Categories</h6>
	  <div class="card-body p-0 menu-content collapse show">
		<ul class="list-unstyled" data-v-cats>
			<li data-v-cat class="expand">
			  <input type="checkbox" id="m3" data-v-if="category.children > 0" />
			  <label for="m3" data-v-if="category.children > 0">
				<!-- <a data-v-cat-url data-url data-v-cat-name data-selector=".content-body" data-scroll="start">Bodysuits</a> -->
				<a data-v-cat-url data-v-cat-name>Bodysuits</a>
			  </label>
			  
			  <!-- <a href="#" data-v-if="category.children = 0" data-v-cat-url data-v-cat-name data-selector=".content-body" data-scroll="start">Bodysuits</a> -->
			  <a href="#" data-v-if="category.children = 0" data-v-cat-url data-v-cat-name>Bodysuits</a>
		  </li>
		  <li data-v-cat>
			<a  data-v-cat-url><span data-v-cat-name>HTML</span></a>
		  </li>
		  <li data-v-cat>
			<a  data-v-cat-url><span data-v-cat-name>Freebies</span></a>
		  </li>
		</ul>
	  </div>
  </div>
</div>			

<!-- Manufacturers Widget -->
<div class="card border bg-opacity-10 filters mt-2">
<div class="card-body">
  <h6 class="card-title text-muted">Brands</h6>
  <ul class="list-unstyled" data-v-component-product-manufacturers="sidebar" data-v-filter="url">
	<li data-v-manufacturer>
	  <div class="form-check form-check-minimal">
		<label class="form-check-label">
		  <input class="form-check-input" type="checkbox" name="manufacturer_id[]" value="" data-v-manufacturer-manufacturer_id>
		  <span data-v-manufacturer-name>Mango</span>
		</label>
	  </div>
	</li>
	<li data-v-manufacturer>
	  <div class="form-check form-check-minimal">
		<input class="form-check-input" type="checkbox" name="manufacturer_id[]" value="" data-v-manufacturer-manufacturer_id>
		<label class="form-check-label" for="brand-2">
		  <span data-v-manufacturer-name>Assos</span>
		</label>
	  </div>
	</li>
	<li data-v-manufacturer>
	  <div class="form-check form-check-minimal">
		<label class="form-check-label" for="brand-3">
		  <input class="form-check-input" type="checkbox" name="manufacturer_id[]" value="" data-v-manufacturer-manufacturer_id>
		  <span data-v-manufacturer-name>Brand name</span>
		</label>
	  </div>
	</li>
  </ul>
</div>
</div>

<!-- Vendors Widget -->
<div class="card border bg-opacity-10 filters mt-2">
<div class="card-body">
  <h6 class="card-title text-muted">Vendors</h6>
  <ul class="list-unstyled" data-v-component-product-vendors="sidebar" data-v-filter="url">
	<li data-v-vendor>
	  <div class="form-check form-check-minimal">
		<label class="form-check-label">
		  <input class="form-check-input" type="checkbox" name="vendor_id[]" value="" data-v-vendor-vendor_id>
		  <span data-v-vendor-name>Mango</span>
		</label>
	  </div>
	</li>
	<li data-v-vendor>
	  <div class="form-check form-check-minimal">
		<input class="form-check-input" type="checkbox" name="vendor_id[]" value="" data-v-vendor-vendor_id>
		<label class="form-check-label" for="brand-2">
		  <span data-v-vendor-name>Assos</span>
		</label>
	  </div>
	</li>
	<li data-v-vendor>
	  <div class="form-check form-check-minimal">
		<label class="form-check-label" for="brand-3">
		  <input class="form-check-input" type="checkbox" name="vendor_id[]" value="" data-v-vendor-vendor_id>
		  <span data-v-vendor-name>Brand name</span>
		</label>
	  </div>
	</li>
  </ul>
</div>
</div>
<!--
<div data-v-component-product-filters>
</div>

<div class="card border bg-opacity-10 filters mt-2">
  <h6 class="card-title text-muted">Color</h6>
  <ul class="list-unstyled">
    <li>
      <div class="form-check form-check-color">
        <input class="form-check-input" type="checkbox" value="" id="color-1">
        <label class="form-check-label" for="color-1">
          <span class="bg-red"></span> Red </label>
      </div>
    </li>
    <li class="mt-1">
      <div class="form-check form-check-color">
        <input class="form-check-input" type="checkbox" value="" id="color-2">
        <label class="form-check-label" for="color-2">
          <span class="bg-blue"></span> Blue </label>
      </div>
    </li>
    <li class="mt-1">
      <div class="form-check form-check-color">
        <input class="form-check-input" type="checkbox" value="" id="color-3">
        <label class="form-check-label" for="color-3">
          <span class="bg-green"></span> Green </label>
      </div>
    </li>
    <li class="mt-1">
      <div class="form-check form-check-color">
        <input class="form-check-input" type="checkbox" value="" id="color-4">
        <label class="form-check-label" for="color-4">
          <span class="bg-yellow"></span> Yellow </label>
      </div>
    </li>
  </ul>
</div>

<div class="card border bg-opacity-10 filters mt-2">
  <h6 class="card-title text-muted">Size</h6>
  <ul class="list-unstyled">
    <li>
      <label class="form-check form-check-color">
        <input name="filter_option[]" type="checkbox" class="form-check-input" class="form-check-input" value="46">
        <span>Small <strong>(1)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="47">
        <span>Medium <strong>(1)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="48">
        <span>Large <strong>(1)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="61">
        <span>XS <strong>(11)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="62">
        <span>S <strong>(15)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="63">
        <span>M <strong>(12)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="64">
        <span>L <strong>(6)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="65">
        <span>XL <strong>(10)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="66">
        <span>XXL <strong>(6)</strong>
        </span>
      </label>
    </li>
  </ul>
</div>

<div class="card border bg-opacity-10 filters mt-2">
  <h6 class="card-title text-muted">Color</h6>
  <ul class="list-unstyled">
    <label class="form-check">
      <input name="filter_option[]" type="checkbox" class="form-check-input" value="49">
      <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/blue-20x20.gif" alt="">
      <span>Blue <strong>(3)</strong>
      </span>
    </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="50">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/gold-20x20.gif" alt="">
        <span>Gold <strong>(3)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="51">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/green-20x20.gif" alt="">
        <span>Green <strong>(3)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="52">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/hotpink-20x20.gif" alt="">
        <span>Hot pink <strong>(5)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="53">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/lemon-20x20.gif" alt="">
        <span>Lemon <strong>(4)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="54">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/lime-20x20.gif" alt="">
        <span>Lime <strong>(3)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="55">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/navy-20x20.gif" alt="">
        <span>Navy <strong>(9)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="56">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/orange-20x20.gif" alt="">
        <span>Orange <strong>(1)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="57">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/red-20x20.gif" alt="">
        <span>Red <strong>(5)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="58">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/slate-20x20.gif" alt="">
        <span>Slate <strong>(5)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="59">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/teal-20x20.gif" alt="">
        <span>Teal <strong>(2)</strong>
        </span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_option[]" type="checkbox" class="form-check-input" value="60">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/colors/vanilla-20x20.gif" alt="">
        <span>Vanilla <strong>(2)</strong>
        </span>
      </label>
    </li>
  </ul>
</div>

<div class="card border bg-opacity-10 filters mt-2">
  <h6 class="card-title text-muted">Manufacturer</h6>
  <ul class="list-unstyled">
    <li>
      <label class="form-check">
        <input name="filter_manufacturer[]" type="checkbox" value="6">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/demo/palm_logo-he-100x30.webp" alt="">
        <span>Palm</span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_manufacturer[]" type="checkbox" value="7">
        <span>Hewlett-Packard</span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_manufacturer[]" type="checkbox" value="8">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/demo/apple_logo-he-100x30.webp" alt="">
        <span>Apple</span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_manufacturer[]" type="checkbox" value="9">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/demo/canon_logo-he-100x30.webp" alt="">
        <span>Canon</span>
      </label>
    </li>
    <li>
      <label class="form-check">
        <input name="filter_manufacturer[]" type="checkbox" value="10">
        <img src="http://anne.nicolethemes.com/image/cache/catalog/demo/sony_logo-he-100x30.webp" alt="">
        <span>Sony</span>
      </label>
    </li>
  </ul>
</div>

<div class="card border bg-opacity-10 filters mt-2">
  <h6 class="card-title text-muted">Price</h6>
  <div class="list-group-item">
    <div id="option-groupSize">
      <label class="form-check form-check-color">
        <input name="filter_option[]" type="checkbox" class="form-check-input" class="form-check-input" value="46">
        <span>Small <small>(1)</small>
        </span>
      </label>
    </div>
  </div>
  <div class="list-group-item pb-4">
    <div class="price-input">
      <label>
        <span>Min</span>
        <input type="number" class="input-min form-control" value="2500">
      </label>
      <label>
        <span>Max</span>
        <input type="number" class="input-max form-control" value="7500">
      </label>
    </div>
    <div class="slider">
      <div class="progress"></div>
    </div>
    <div class="range-input">
      <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
      <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
    </div>
  </div>
</div>
-->
<script>
/*
	//add active to current menu item in navigation list and open parent categories
	var pathname = window.location.pathname;
	var current_url = pathname.replace(/\/\d+$/, '');//remove pagination
	
	document.querySelectorAll('.menutree a').forEach(function(el) {
			let url = el.getAttribute('href');
	
			// Add .active on menu if it is current page
			if(url == current_url) {
				 let parent = el;
				 while ((parent = parent.parentNode) && parent !== document) {
					if (parent.matches('li')) {
						parent.classList.add("active");
						parent.querySelector(':scope > input[type="checkbox"]')?.setAttribute("checked", true);
					}
				  }
				  return;
				//('.menutree a[href="' + current_url +'"]').parents('li').addClass('active').find('> input[type="checkbox"]').attr("checked", true);
			}
	});
	
	document.addEventListener('click', (event) => {
	  let el = event.target.closest('.menutree a');
	  if (el) {
			document.querySelectorAll('.menutree .active').forEach(function(el) {el.classList.remove("active")});
			let parent = el;
			 while ((parent = parent.parentNode) && parent !== document) {
				 if (parent.matches('li')) {
					parent.classList.add("active");
					//parent.querySelector(':scope > input[type="checkbox"]')?.setAttribute("checked", true);
				}
			 }
	  }
	});
*/	
	/*
	.click(function(e) {
		$('.menutree .active').removeClass("active");
		$(this).parents('li').addClass("active");
	});
	*/	

</script>
