<div id="subscriptions" class="product-subscriptions mt-4" data-v-component-product-subscriptions>
	<div data-v-if="count > 0">
		<label class="form-label" data-v-if="count > 0">Subscription</label>
		<div>
			<div class="form-check form-check-inline radio" data-v-subscription>
			  <label class="form-check-label">
				<input class="form-check-input" type="radio" name="subscription_plan_id" required data-v-subscription-subscription_plan_id>
				<span data-v-subscription-name>Subscription name</span>
			  </label>
			</div>
		</div>
	</div>
</div>